//roboto
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
//nunito
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
//pacifico
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
//montserrat
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

//josefin Sans

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");

//josefin slab

@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100;200;300;400;500;600;700&display=swap");
/*#region i dont know*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --headerHeight: 70px;
  --backgroundColor: #232946;
  --textColor: #ffffff;

  --info-wrapper-bg: #006fff;

  --header: #ffd803;
  --pill: #21d4fd;
  --text: #ffffff;
  --primary-text: #ffffff;
  --secondary-text: #33ff00;
  --tertiary-text: #94a1b2;

  --bg-1: #ffffff;
  --bg-2: #a9d5e0;
  --text-1: #01410f;
  --text-2: #505050;
  --text-3: #000000;
  --header-bg: #ffffff;
  --header-text: #1a5222;
  --header-height: 4rem;
  --header-index: 10;

  --main-heading-font-size: 4rem;
}
::-moz-selection { /* Code for Firefox */
  color: white;
  background: #33ff00;
}

::selection {
  color: white;
  background: #33ff00;
}
body {
  background: var(--backgroundColor);
  min-height: 100vh;
  padding: 0 10%;
  color: var(--primary-text);
  font-family: "montserrat";
  overflow-x: hidden;
  padding-bottom: 2rem;
}
.main-container {
  position: relative;
}
@keyframes orbit {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(100%, 0%);
  }
}
@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-200deg);
  }
}
@keyframes rocket {
  from {
  }
  to {
  }
}
.home-right-container {
  background: transparent;
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 3;
  svg {
    position: absolute;
    bottom: 10%;
    right: 0;
    overflow: visible;
    height: 80%;
  }
  .astronaut {
    z-index: 3;
    animation: orbit 100s, rotate 100s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    path {
      z-index: 3;
    }
  }
  .rocket {
    animation: rocket 20s;
  }
}
/*#endregion*/

/* #region header */

.main-header {
  width: 100%;
  height: var(--headerHeight);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  .navbar {
    display: none;
    align-items: center;
    justify-content: space-evenly;
    width: 35%;
  }
  .navbar .nav-item {
    text-decoration: none;
    color: white;
    padding: 0 20px;
    margin: auto 0;
  }
  .social-media-icons {
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 150px;
    a {
      img {
        width: 25px;
      }
    }
  }
}

/* #endregion header */

/* #region home content */
.home-section {
  width: 100%;
  height: calc(100vh - var(--headerHeight));
}
.home-section > div {
  position: relative;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: 5rem;
}
.home-section div .text-content-wrapper {
  width: 100%;
  text-align: left;
}
.text-content-wrapper {
  width: 100%;
  & > div {
    display: flex;
    align-items: center;
    span {
      font-size: 0.7rem;
      font-weight: 600;
      color: #33ff00;
    }
    div {
      content: " ";
      width: 4rem;
      height: 1px;
      background: grey;
      margin: 0 0.6rem;
    }
  }
  .heading {
    margin-top: 0.5rem;
    display: block;
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: -3px;
    margin-left: -2px;
    .heading-keyword {
      position: relative;
      display: block;
      height: var(--main-heading-font-size);
      overflow: hidden;
      .keyword-container {
        width: 100%;
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-5rem);
        display: flex;
        align-items: center;
        &.current {
          transition: transform 1s;
          transform: translateY(0);
        }
        &.push-down {
          transition: transform 1s;
          transform: translateY(5rem);
        }
      }
    }
  }
  .subheading {
    font-size: 0.7rem;
    font-weight: 500;
    color: #94a1b2;
    letter-spacing: 1px;
  }
}

#bg {
  z-index: -1;
}
.rocket-image {
  width: 80%;
  padding-top: 100px;
  padding-left: 50px;
}

/* #endregion home content */

/* #region project section */
.projects-section {
  margin-top: 150px;
  .projects-section-header {
    font-size: 2.6rem;
    margin-bottom: 3rem;
  }
}
.projects-wrapper {
  position: relative;
}
.projects-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;
}
.row-project {
  width: 45%;
}
.row-project-image {
  width: 100%;
  height: 350px;
  background: #ffffff;
}
.row-project-description {
  .row-project-type {
    margin-top: 0.9rem;
    
      font-weight: 500;
      font-size: 0.6rem;
      font-family: "josefin slab";
      color: #939393;
    
  }
  .row-project-title {
      margin-top: 0.9rem;
      font-family: "josefin sans";
    font-size: 2rem;
    font-weight: 700;
  }
  .row-project-details {
      margin-top: 0.9rem;
      font-size: 0.7rem;
    font-weight: 400;
    color: #e3e3e3;
    font-family: "Josefin Slab";
  }
  .row-project-visit-btn {
      margin: 1.2rem 0.2rem 0 0;
      background-color: transparent;
    border: white 2px solid;
    border-radius: 50px;
    color: white;
    font-size: 0.8rem;
    padding: 12px 30px;
    &:hover{
      background-color: white;
      color: var(--backgroundColor);
    }
    &:focus {
      outline: none;
    }
  }
}

.project {
  margin-bottom: 6rem;
}

.project-header {
  // color: #33ff00;
  // font-size: 1.5rem;
  // font-weight: 600;
  // margin-bottom: 1rem;
}
.project-discription {
  color: #c8a3ff;
  font-size: 0.8rem;
  font-weight: 300;
  padding: 1rem 2rem 0 0;
}
//project-1
.project-1 {
  display: flex;
  flex-direction: row-reverse;
}
.project-1-image {
  background-color: white;
  width: 100%;
  margin-left: 3rem;
  img {
    width: 100%;
    display: block;
  }
}
.project-1-info {
  background: transparent;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
//project-2
.project-2 {
  width: 100%;
  background: #000;
  aspect-ratio: 19/12;

  .project-2-image {
    position: relative;
    height: 80%;
    width: 100%;
    margin: 0 auto;
    background: white;
    transition: width 2s;
    &#mobile {
      width: 28%;
    }
    &#tablet {
      width: 45%;
    }
    &#lapimage {
      width: 100%;
    }
  }

  .project-2-info {
    position: relative;
    height: 20%;
    background: #232946;
    padding: 1.5rem 0 1.5rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    .project-header {
      color: white;
      font-family: 'Josefin Sans';
      font-size: 2.7rem;
    }
  }
  .project-2-screen-changer {
    z-index: 100;
    width: fit-content;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    button {
      padding: 6px 26px;
      text-align: center;
      border: none;
      background: var(--backgroundColor);
      border: 1px solid rgb(133, 133, 133);
      &:nth-child(1) {
        border-right: none;
        border-image-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
      &:nth-child(3) {
        border-left: none;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
      svg {
        width: 30px;
        &#lappy {
          width: 40px;
        }
        path {
          stroke: #232946;
          stroke-width: 5px;
        }
      }
      &.active {
        background: #dfdfdf;
        svg {
          path {
            fill: #232946;
            stroke: #dfdfdf;
            stroke-width: 5px;
          }
        }
      }
    }
  }
}
/* #endregion project section */

/*#region my services scetion*/
.services-section {
  width: 100%;
  padding: 0 5%;
  .section-header {
    font-size: 2.6rem;
    margin-bottom: 3rem;
  }
  .cards-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    column-gap: 40px;
    row-gap: 50px;
  }
}
.card {
  box-shadow: 2px 2px 7px #84889b;
  border-radius: 5px;
  width: 100%;
  aspect-ratio: 4/3;
  background-color: white;
  text-align: center;
  transition: transform 1s;
  padding: 0.5rem 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .card-icon-container {
    border-radius: 1000px;

    margin: 0 auto 1.5rem;
    background-color: #aaaaaa;

    width: 4rem;
    height: 4rem;
    img {
      width: 2rem;
      display: none;
      background-color: transparent;
    }
  }
  .card-title {
    height: 100%;
    margin-bottom: 0.6rem;

    display: block;
    color: #1e1e1e;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: "josefin sans";
  }

  .card-description {
    height: 100%;
    display: block;
    color: #797979;
    font-size: 0.65rem;
  }
}
.pen {
  animation-name: pen;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.float {
  animation-name: float;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes pen {
  0% {
    transform: translate(0px);
  }
  50% {
    transform: translate(-20px);
  }
  100% {
    transform: translate(0px);
  }
}

@keyframes float {
  0% {
    transform: translateY(1px);
  }
  50% {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(1px);
  }
}
/*#endregion my services section*/

/*#region footer*/
.footer {
  padding: 0 5%;
  padding-top: 9rem;
  .section-header {
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0 0 4rem;
  }
  .contacts-container {
    display: flex;
    justify-content: space-between;
  }
  .copyright-text {
    width: fit-content;
    color: #5f5f5f;
    font-size: 0.7rem;
    font-weight: 500;
    margin: 5rem auto 0;
  }
}
.email,
.phone {
  width: 100%;
  display: flex;
  & > * {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #4d5167 1px solid;
    margin-right: 10px;
    padding: 10px;
  }
}
.email-icon,
.phone-icon {
  width: 60px;
  aspect-ratio: 1/1;
}
.email-address,
.phone-number {
  padding: 0 30px;
  span {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
  }
}
.phone {
  justify-content: flex-end;
  .number {
    letter-spacing: 5px;
  }
}
/*#endregion*/
.responsive-project-container {
  font-size: 0.85rem;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .header {
    height: var(--header-height);
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;

    background: var(--header-bg);
    color: var(--header-text);

    border-bottom: 1px solid rgb(211, 211, 211);

    z-index: var(--header-index);

    .logo {
      font-size: 1.8em;
      font-family: "pacifico";
      &:hover {
        cursor: pointer;
      }
    }
    .navbar {
      margin-left: 35%;
      span {
        margin-left: 1em;
        font-size: 0.7em;
        font-weight: 700;
        text-transform: uppercase;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .sign-in {
      font-weight: 700;
      font-size: 0.9em;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .main-container {
    min-height: calc(100% - var(--header-height));

    padding: var(--header-height) 10%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .image-container {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 60%;
    }
  }
  .product-info-container {
    width: 100%;
    & > * {
      margin-bottom: 0.5em;
    }

    .title {
      font-size: 2.5em;
      font-family: "nunito";
      font-weight: 500;

      color: var(--text-1);
    }
    .ratings-container {
      margin-left: 5px; //going leftside as compared to title

      display: flex;
      align-items: center;

      * {
        margin-right: 2px;

        font-size: 0.85em;
        font-weight: 600;
        color: var(--text-2);
      }
      img {
        width: 1em;
        display: block;
      }
    }
    .price {
      font-size: 2em;
      font-weight: 500;

      color: var(--text-2);
    }
    .size-dropdown {
      width: 10.6em;

      padding: 1.15em;

      display: block;
border-radius: 10px;
      border: 1px solid var(--text-2);
      color: var(--text-2);
      font-size: 0.75em;
      font-weight: 500;
      &:focus {
        outline: none;
      }
    }
    .quantity-cart-wrapper {
      margin-top: 20px;
      display: flex;
    }
    .quantity-container {
      width: 8em;

      padding: 0.3em 0.5em;

      display: flex;
      justify-content: space-between;
      align-items: center;

      border: 1px solid var(--text-2);
border-radius: 10px;


      button {
        background: transparent;
        border: none;
        font-size: 0px;

        &:focus {
          outline: none;
        }
      }
      .quantity {
        color: var(--text-2);
        font-weight: 600;
      }
    }
    .add-to-cart-btn {
      width: 5em;

      margin-left: 2em;

      display: flex;
      &:hover {
        cursor: pointer;
      }
      span {
        font-size: 0.8em;
        font-weight: 700;
        color: var(--text-2);
      }
      img {
        margin-left: 1px;
      }
    }
    .product-description {
      width: 60%;

      margin-top: 1.7em;

      font-weight: 600;
      p {
        color: var(--text-1);
      }
    }
  }

  //#endregion
}

.style-tablet .responsive-project-container {
  overflow-y: scroll;
  .header {
    justify-content: space-between;
    .logo {
      margin-left: 1rem;
    }

    .navbar {
      display: none;
    }
    .sign-in {
      margin-right: 1rem;
    }
  }
  .main-container {
    flex-direction: column;
    padding: 10% 15%;
    .image-container {
      img {
        width: 100%;
      }
    }
    .product-info-container {
      margin-top: 1rem;
      .title {
        font-size: 1.7rem;
      }
      .product-description {
        width: 80%;
      }
    }
  }
}

.style-mobile .responsive-project-container {
  overflow-y: scroll;

  .header {
    justify-content: space-between;
    .logo {
      font-size: 1.3rem;
      margin-left: 1rem;
      font-weight: 700;
    }
    .navbar {
      display: none;
    }
    .sign-in {
      margin-right: 1rem;
      font-size: 0.7rem;
    }
  }
  .main-container {
    flex-direction: column;
    padding: 10% 10%;

    .image-container {
      img {
        width: 100%;
      }
    }
    .product-info-container {
      margin-top: 1rem;
      padding: 0 0.5rem;
      & > * {
        margin-bottom: 1rem;
      }
      .title {
        font-size: 1.5rem;
      }
      .product-description {
        width: 100%;
      }
    }
  }
}
